@use 'base';
@use 'color';
@use 'font';
@mixin bg-icon($filename, $height, $width) {
  background: url($filename) color.$light-grayish-blue no-repeat center;
  background-size: cover;
  height: $height;
  width: $width;
  overflow: hidden;
}

body {
  background: color.$light-grayish-blue;
}

.page-wrapper {
  background: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.cover-img {
  flex: 100%;
  background: url("../images/drawers.jpg") no-repeat;
  background-size: cover;
  height: 200px;
}

.content {
  flex: 100%;
}

.content-text {
  padding: 3rem 2.5rem 1.5rem;

  h1 {
    color: color.$very-dark-grayish-blue;
  }

  p {
    color: color.$desaturated-dark-blue;
    margin-top: 1rem;
  }
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 65px;
  position: relative;
  // z-index: 0;
}

.author-img {
  @include bg-icon("../images/avatar-michelle.jpg", 3rem, 3rem);
  border-radius: 50%;
  flex: 0 0 3rem;
  margin-left: 2.5rem;
}

.text {
  margin: 0 1rem;
  flex-grow: 1;

  .author-name {
    color: color.$very-dark-grayish-blue;
    font-weight: font.$weight-bold;
  }

  .time {
    color: color.$grayish-blue;
  }
}

.attribution {
  margin-top: 2rem;
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

.share-icon {
  background: url("../images/icon-share.svg") color.$light-grayish-blue no-repeat center;
  height: 2.5rem;
  width: 2.5rem;
  flex: 0 0 2.5rem;
  border-radius: 50%;
  margin-right: 2.5rem;
}

.share-active-box {
  background: color.$very-dark-grayish-blue;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.share-text {
  flex-grow: 0;
  text-transform: uppercase;
  color: color.$grayish-blue;
  margin-left: 2.5rem;
  letter-spacing: 0.5rem;
}

.icon-group {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.facebook-icon {
  @include bg-icon("../images/icon-facebook.svg", 1.5rem, 1.5rem);
  background-color: color.$very-dark-grayish-blue;
  margin-left: 1.2rem;
}

.twitter-icon {
  @include bg-icon("../images/icon-twitter.svg", 1.5rem, 1.5rem);
  background-color: color.$very-dark-grayish-blue;
  margin-left: 1.2rem;
}

.pinterest-icon {
  @include bg-icon("../images/icon-pinterest.svg", 1.5rem, 1.5rem);
  background-color: color.$very-dark-grayish-blue;
  margin-left: 1.2rem;
}

.share-icon-dark {
  background: url("../images/icon-share-active.svg") color.$desaturated-dark-blue no-repeat center;
}

.pointer {
  svg {
    fill: color.$very-dark-grayish-blue;
  }
}

.share-active-mobile {
  visibility: hidden;
}

.share-active-desktop {
  height: 65px;
  position: fixed;
  text-align: center;
}

.share-active-box-desktop {
  background: color.$very-dark-grayish-blue;
  border-radius: 1rem;
  box-shadow: 0 4px 10px 0 color.$grayish-blue;
  display: flex;
  align-items: center;
  padding: 1.5rem 2.5rem 1.5rem 0;
}

.info:hover {
  .share-active-mobile {
    visibility: visible;
  }
}

.invisible {
  visibility: hidden;
}
@media (min-width: 900px) {
  .page-wrapper {
    flex-wrap: nowrap;
  }

  .cover-img {
    flex: 40%;
    height: auto;
  }

  .content {
    flex: 60%;
    padding-bottom: 1rem;
  }

  .info:hover {
    .share-active-mobile {
      visibility: hidden;
    }
  }
}
